#slide-wrap {
    background: white;     
    width: 920px; 
    margin: auto; 
    padding: 1em; 
    position: relative;  
    top: -2em;  

}

#slide-viewport {
    width: 600px; 
    height: 400px;    
    overflow: hidden;     
}

#slide-reel {
    position: relative; 
    left: -600px;    
}

div.slide {
    float: left;  
}

#desc {
    width: 300px; 
    height: 400px; 
    background: Indianred; 
    position: absolute; 
    top: 0; 
    right: 0; 
    margin: 1em; 
}

div.content {
    width: 80%; 
    height: 85%; 
    position: absolute; 
    display: none; 
    background: Indianred; 
    padding: 10%;
    color: white;  
}

div.content h3 {
    font-size: 1.5em;
    margin-bottom: .5em;  
}

div.content p {
    font-size: .8em; 
    line-height: 1.5em; 
}

div.content ul {
    margin: 1em; 
}

div.content ul li {
    margin: 1em 0; 
    list-style-type: disc; 
}

div.action-btn{
    background: #DDD; 
    width: 80%; 
    height: 3em; 
    font-family: Arial; 
    font-size: .8em; 
    line-height: 3em; 
    text-align: center; 
    margin: 4em auto; 
}

div.action-btn a{
    display: block; 
    text-decoration: none; 
}

.show {
    display: block; 
}

#sNav-wrap {
    width: 15.22%; 
    position: absolute; 
    top: 0; 
    right: -16%; 
    margin-top: 1em; 
}

.sNav {
    height: 1em; 
    width: 1em; 
    background: white; 
    margin: .5em;
    display: block;  
   
}

.active {
    background: IndianRed; 
}